<header class="header-section d-none d-xl-block">
	<div class="header-wrapper">
		<div class="header-bottom header-bottom-color--golden section-fluid sticky-header sticky-color--golden">
			<div class="container-fluid">
				<div class="row">
					<div
						class="col-12 d-flex align-items-center justify-content-between">
						<!-- Start Header Logo -->
						<div class="header-logo">
							<div class="logo">
								<a href="index.html"><img src="assets/images/logo/logo_black.png" alt=""></a>
							</div>
						</div>
						<!-- End Header Logo -->

						<!-- Start Header Main Menu -->
						<div class="main-menu menu-color--black menu-hover-color--golden">
							<nav>
								<ul>
									<li class="has-dropdown">
										<a class="active main-menu-link" href="index.html">Home
											<i class="fa fa-angle-down"></i>
										</a>
										<!-- Sub Menu -->
										<ul class="sub-menu">
											<li>
												<a href=" {{ path('app_watch')}} ">Home 1</a>
											</li>
											<li>
												<a href="{{ path('app_watch')}}">Home 2</a>
											</li>
											<li>
												<a href="{{ path('app_watch')}}">Home 3</a>
											</li>
											<li>
												<a href="{{ path('app_watch')}}">Home 4</a>
											</li>
										</ul>
									</li>
									<li class="has-dropdown has-megaitem">
										<a href="product-details-default.html">Shop
											<i class="fa fa-angle-down"></i>
										</a>
										<!-- Mega Menu -->
										<div class="mega-menu">
											<ul
												class="mega-menu-inner">
												<!-- Mega Menu Sub Link -->
												<li class="mega-menu-item">
													<a href="#" class="mega-menu-item-title">Shop Layouts</a>
													<ul class="mega-menu-sub">
														<li>
															<a href="">Grid Left
																                                                                    Sidebar</a>
														</li>
														<li>
															<a href="">Grid Right
																                                                                    Sidebar</a>
														</li>
														<li>
															<a href="">Full Width</a>
														</li>
														<li>
															<a href="">List Left
																                                                                    Sidebar</a>
														</li>
														<li>
															<a href="">List Right
																                                                                    Sidebar</a>
														</li>
													</ul>
												</li>
												<!-- Mega Menu Sub Link -->
												<li class="mega-menu-item">
													<a href="#" class="mega-menu-item-title">Other Pages</a>
													<ul class="mega-menu-sub">
														<li>
															<a href="">Cart</a>
														</li>
														<li>
															<a href="">Empty Cart</a>
														</li>
														<li>
															<a href="">Wishlist</a>
														</li>
														<li>
															<a href="">Compare</a>
														</li>
														<li>
															<a href="">Checkout</a>
														</li>
														<li>
															<a href="">Login</a>
														</li>
														<li>
															<a href="">My Account</a>
														</li>
													</ul>
												</li>
												<!-- Mega Menu Sub Link -->
												<li class="mega-menu-item">
													<a href="#" class="mega-menu-item-title">Product Types</a>
													<ul class="mega-menu-sub">
														<li>
															<a href="">Product
																                                                                    Default</a>
														</li>
														<li>
															<a href="">Product
																                                                                    Variable</a>
														</li>
														<li>
															<a href="">Product
																                                                                    Referral</a>
														</li>
														<li>
															<a href="">Product Group</a>
														</li>
														<li>
															<a href="">Product
																                                                                    Slider</a>
														</li>
													</ul>
												</li>
												<!-- Mega Menu Sub Link -->
												<li class="mega-menu-item">
													<a href="#" class="mega-menu-item-title">Product Types</a>
													<ul class="mega-menu-sub">
														<li>
															<a href="">Product Tab
																                                                                    Left</a>
														</li>
														<li>
															<a href="">Product Tab
																                                                                    Right</a>
														</li>
														<li>
															<a href="l">Product
																                                                                    Gallery Left</a>
														</li>
														<li>
															<a href="">Product
																                                                                    Gallery Right</a>
														</li>
														<li>
															<a href="">Product
																                                                                    Sticky Left</a>
														</li>
														<li>
															<a href="">Product
																                                                                    Sticky right</a>
														</li>
													</ul>
												</li>
											</ul>
											<div class="menu-banner">
												<a href="#" class="menu-banner-link">
													<img class="menu-banner-img" src="assets/images/banner/menu-banner.jpg" alt="">
												</a>
											</div>
										</div>
									</li>
									<li class="has-dropdown">
										<a href="blog-single-sidebar-left.html">Blog
											<i class="fa fa-angle-down"></i>
										</a>
										<!-- Sub Menu -->
										<ul class="sub-menu">
											<li>
												<a href="l">Blog Grid Sidebar left</a>
											</li>
											<li>
												<a href="">Blog Grid Sidebar Right</a>
											</li>
											<li>
												<a href="">Blog Full Width</a>
											</li>
											<li>
												<a href="">Bblog-full-width.htmllog List Sidebar Left</a>
											</li>
											<li>
												<a href="">Blog List Sidebar Right</a>
											</li>
											<li>
												<a href="">Blog Single Sidebar left</a>
											</li>
											<li>
												<a href="">Blog Single Sidebar
													                                                        Right</a>
											</li>
										</ul>
									</li>
									<li class="has-dropdown">
										<a href="#">Pages
											<i class="fa fa-angle-down"></i>
										</a>
										<!-- Sub Menu -->
										<ul class="sub-menu">
											<li>
												<a href="">Frequently Questions</a>
											</li>
											<li>
												<a href="">Privacy Policy</a>
											</li>
											<li>
												<a href="">404 Page</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="">About Us</a>
									</li>
									<li>
										<a href="">Contact Us</a>
									</li>
								</ul>
							</nav>
						</div>
						<!-- End Header Main Menu Start -->

						<!-- Start Header Action Link 
						<ul class="header-action-link action-color--black action-hover-color--golden">
							<li>
								<a href="#offcanvas-wishlish" class="offcanvas-toggle">
									<i class="icon-heart"></i>
									<span class="item-count">3</span>
								</a>
							</li>
							<li>
								<a href="#offcanvas-add-cart" class="offcanvas-toggle">
									<i class="icon-bag"></i>
									<span class="item-count">3</span>
								</a>
							</li>
							<li>
								<a href="#search">
									<i class="icon-magnifier"></i>
								</a>
							</li>
							<li>
								<a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
									<i class="icon-menu"></i>
								</a>
							</li>
						</ul>
						 End Header Action Link !-->
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
