{% extends 'base.html.twig' %}

{% block title %}Hello CardController!
{% endblock %}

{% block body %}
	
			<li>Your controller at
				<code>
					<a href="{{ '/home/merdi/Musique/apptp/src/Controller/CardController.php'|file_link(0) }}">src/Controller/CardController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/home/merdi/Musique/apptp/templates/card/index.html.twig'|file_link(0) }}">templates/card/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
