{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<h1 class="text-center text-muted h3"> modifier un recettes</h1>
<div class="col-md-6 mx-auto mt-5">
    {{form(form)}}
    </div>
</div>

{% endblock %}
