{% extends 'base.html.twig' %}

{% block title %}Hello Apropo{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/merdi/Musique/apptp/src/Controller/AproposController.php'|file_link(0) }}">src/Controller/AproposController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/merdi/Musique/apptp/templates/apropos/index.html.twig'|file_link(0) }}">templates/apropos/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
